html, body {
    width: 100%;
    height: 100%;
    font-style: italic;
    color: rgb(16, 158, 111);
}

#color-letra-title {
    color: white;
}


#cajita_pinchar_nueva_reserva {
    background: rgb(16, 158, 111);
}

#cajita_titulos_reservas {
    
    background: rgb(16, 158, 111);
}

#cajita_reloj {
    background: rgb(16, 158, 111);
    font-style: italic;
}


#caja_crear_reserva {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

#cajita_atras_crear_reserva {
    border: solid 2px  rgb(16, 209, 135);
}

#cajita_atras_crear_reserva:hover {
    background: rgb(36, 21, 23);
    color: rgb(20, 180, 220);
    border: solid 2px  rgb(9, 235, 216);
    border-top-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}


#jan {
    
    height: 400px;
    overflow: auto;
}

#jan_reserva {
    
    height: 400px;
    overflow: auto;
}

#jan_reserva_web {
    
    height: 400px;
    overflow: auto;
}

#tipos {
    
    overflow: auto;
    height: 500px;
}

#nuevo-cliente { 
    
    display:flex;
    justify-content: center;
    align-items: center;
}

#root {
    background: url('/img/hotel.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    width: 100%;
    height: 100%;
    
    min-height: 100%;
}


#item-nav-1:hover {
    color:  white;
    background: rgb(53, 224, 48);
    border-radius: 0.5em;
    margin: 0.5px;
}

#cajita-menu:hover {
    background: chartreuse;
    color: black;
}

#estilos_lista_admin li {
    list-style: none;
    text-decoration: none;
}

#estilos_lista_admin li a:hover {
    
    text-decoration: none;
    color: white;
}