<div class="container p-3">
    <div class="row">
        <div class="col-md-4">
            <h6><strong>Buscar:</strong></h6>
            <div class="card text-center"style="background-color: rgb(186, 201, 250);">
                
                <div class="card-body">
                    <form action="/pms/tipo-habitacion" method="POST">                        
                            <input type="search" name="busqueda" class="form-control" placeholder="Escribe tu Busqueda..." autofocus>                        
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 ml-auto" id="nuevo-cliente">
            <a href="/pms/registrar-cliente" class="btn btn-success btn-block">Nuevo Cliente</a>
        </div>
    </div>
</div> 
