<h5>Clientes:</h5>
<ul>
    <li><a href="/pms/admin_auditoria/clientes/creados">Creados</a></li>
    <li><a href="/pms/admin_auditoria/clientes/actualizados">Actualizados</a></li>
    <li><a href="/pms/admin_auditoria/clientes/borrados">Borrados</a></li>
</ul> 