<div class="container p-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <center>
                <h5>Bienvenido Admin !</h5>
            </center>
            <br><br><br>
            <center><a href="/pms/signup" class="btn btn-success btn-block" style="hover { color: red;">Registrar Nuevo Usuario</a></center>
            <br>
            <center><a href="/pms/usuarios-pms" class="btn btn-info btn-block">Ver Todos los Usuarios</a></center>
            <br>
            <center><a href="/pms/admin_auditoria" class="btn btn-warning btn-block">Auditoria</a></center>
        </div>
    </div>
</div> 