<center><button class="btn btn-info m-2" onclick="return atras();">Atras</button></center>
<h5>Clientes:</h5>
<ul>
    <li><a href="/pms/admin_auditoria/clientes/creados">Creados</a></li>
    <li><a href="/pms/admin_auditoria/clientes/actualizados">Actualizados</a></li>
    <li><a href="/pms/admin_auditoria/clientes/borrados">Borrados</a></li>
</ul>
<h5>Reservas:</h5>
<ul>
    <li><a href="/pms/admin_auditoria/clientes/creados">Creados</a></li>
    <li><a href="/pms/admin_auditoria/clientes/actualizados">Actualizados</a></li>
    <li><a href="/pms/admin_auditoria/clientes/borrados">Borrados</a></li>
</ul>
<h5>Cafeteria:</h5>
<ul>
    <li><a href="/pms/admin_auditoria/clientes/creados">Creados</a></li>
    <li><a href="/pms/admin_auditoria/clientes/actualizados">Actualizados</a></li>
    <li><a href="/pms/admin_auditoria/clientes/borrados">Borrados</a></li>
</ul>
<h5>Base de Datos PMS:</h5>
<ul>
    <li><a href="/pms/admin_auditoria/db_PMS/creados">Creados</a></li>
    <li><a href="/pms/admin_auditoria/db_PMS/actualizados">Actualizados</a></li>
    <li><a href="/pms/admin_auditoria/db_PMS/borrados">Borrados</a></li>
</ul>