<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    Cambiar Contraseña :
                </div>
                <div class="card-body">
                    <div class="container">
                        <h6>Ingresa tu Nueva Contraseña.</h6>
                        <br>
                        <form action="/pms/change-password" method="post">
                            <input name="newPass" type="password" placeholder="Contraseña" class="form-control" autofocus>
                            <br>
                            <center>
                                <button class="btn btn-danger">Cambiar !!</button>
                            </center>
                        </form>
                    </div>
                </div>
            </div> 
            <br>
            <a href="/pms/todas-reservas"> (X) Cancelar</a>
        </div>
    </div>
</div> 