<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-white">
                    Cambiar Contraseña :
                </div>
                <div class="card-body">
                    <div class="container">
                        <h6>Ingresa tu Nueva Contraseña :</h6>
                        
                        <form action="/pms/change-password" method="post">
                            <input id="change1" name="newPass" type="password" placeholder="Contraseña" class="form-control" autofocus>
                            <div class="row container">
                                <a href="" onclick="mostrar_pass(event);" class="m-2"> Mostrar! </a><a class="text-danger m-2" href="" onclick="ocultar_pass(event);"> Ocultar! </a>
                            </div>
                            <br>
                            <br>
                            <h6>Confirma la Contraseña :</h6>
                            <input id="change2" type="password" placeholder="Contraseña" class="form-control" autofocus>
                            <div class="row container">
                                <a href="" onclick="mostrar_pass(event);" class="m-2"> Mostrar! </a><a class="text-danger m-2" href="" onclick="ocultar_pass(event);"> Ocultar! </a>
                            </div>
                            <br>
                            <br>
                            <center>
                                <button class="btn btn-danger" onclick="return submit_pass();">Cambiar !!</button>
                            </center>
                        </form>
                    </div>
                </div>
            </div> 
            <br>
            <a href="/pms/todas-reservas"> (X) Cancelar</a>
        </div>
    </div>
</div> 