<div>
    <div>ssh root@31.220.61.129</div>
    <br>
    <div>pm2 stop pms</div>
    <br>
    <div>cd /home/admin/web/hotelcotranalplaza.com/public_html/PMS_Hotel_Cotranal</div>
    <br>
    <div>git pull</div>
    <br>
    <div>pm2 start pms</div>
</div>