<a href="/pms/todas-reservas" class="m-2 p-2" id="cajita_atras_crear_reserva">Atras</a>
<div class="container p-5">
    <div class="container p-5">
        <div class="row">
            <div class="card mx-auto">
                <div class="card-header text-center bg-secondary">
                    <h6>Vehiculo Registrado</h6>
                </div>
                <div class="card-body">

                    <form>
                        <div class="form-group">
                            <h6 class="form-control">{{placa}}</h6>
                            <br>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>