


<div class="container p-5  m-3 mx-auto text-center">
    <div class="row">
        <div class="col-md-4">
            <div class="card ">
                <div class="card-header" style="background-color: darkgray;">
                    <h5>1 - Primer Piso</h5>
                </div>
                <div class="card-body">
                    <br>
                    <h6>Habitaciones de la 101 a la 104</h6>
                    <br>
                    <a href="/1-piso" class="btn btn-info btn-block">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" style="background-color: darkgray;">
                    <h5>2 - Segundo Piso</h5>
                </div>
                <div class="card-body">
                    <br>
                    <h6>Habitaciones de la 201 a la 216</h6>
                    <br>
                    <a href="/2-piso" class="btn btn-info btn-block">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" style="background-color: darkgray;">
                    <h5>3 - Tercer Piso</h5>
                </div>
                <div class="card-body">
                    <br>
                    <h6>Habitaciones de la 301 a la 306</h6>
                    <br>
                    <a href="/3-piso" class="btn btn-info btn-block">Ver</a>
                    
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" style="background-color: darkgray;">
                    <h5>4 - Cuarto Piso</h5>
                </div>
                <div class="card-body">
                    <br>
                    <h6>Habitaciones de la 401 a la 406</h6>
                    <br>
                    <a href="/4-piso" class="btn btn-info btn-block">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" style="background-color: darkgray;">
                    <h5>5 - Piso</h5>
                </div>
                <div class="card-body">
                    <br>
                    <h6>Habitaciones de la 501 a la 506</h6>
                    <br>
                    <a href="/5-piso" class="btn btn-info btn-block">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" style="background-color: darkgray;">
                    <h5>Salon de Eventos</h5>
                </div>
                <div class="card-body">
                    <br>
                    <h6>Auditorio y Conferencias</h6>
                    <br>
                    <a href="#" class="btn btn-info btn-block">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>